<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>We're Software Engineers.</h1>
                <h3>우리는 훌륭한 개발문화를 통해, 회사와 구성원의 지속적 성장과 <br>
                세상의 유의미한 변화를 만들 수 있다고 믿습니다.</h3>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/kanban.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->